a.active {
  color: #111;
}

.main-nav
{
	ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  background-color: $header-bg-color;
	  position: fixed;
	  top: 0;
	  width: 100%;
      border-bottom: solid 1px $hr-border-color;
	}

	li {
	  float: left;
	}

	li a {
	  display: block;
	  color: white;
	  text-align: center;
	  padding: 14px 14px;
	  text-decoration: none;
	  font-size: 12px;
	}

	li a:hover {
	  background-color: #111;
	}
}

.content{
  margin-right: 200px;
  clear: both;
  overflow: auto;
  min-height: 600px;
}

.side-nav {
  position: relative;
  width: 200px;
  margin-left: -200px;
  float: right;
  overflow: hidden;
  background-color: transparent;
  color: $body-text-color;
  min-height: 600px;
  padding: 20px 12px;
  font-size: 0.6rem;

  h3 {
    margin-top: 2rem;
    margin-bottom: 0;
    font-weight: normal;
    color: #666;
    font-size: 0.8rem;
  }
}

.wrapper {
  max-width: 1160px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
  min-height: 600px;
}

.content-wrapper {
  float: left;
  width: 100%;
}



@media only screen and (max-width: 768px) {
  .side-nav {
    display: none;
  }
  .content {
    margin-right: 0;
  }
}

